#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#searchBox {
    display: flex;
    width: 40%;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    padding: 15px;
}

#linkMyFav:hover {
    cursor: pointer;
    padding: 10px;
    background-color: yellow;
}

.mealsLabel:hover {
    cursor: pointer;
}

.mealsImage:hover {
    cursor: pointer;
}